#settings-key-group {
    display: none;
}

#data-redo-last {
    display: none;
}

#recent-lookups-container {
    width: 500px;
}

.pluginsettings-key {
    font-weight: bold;
}

.pluginsettings-value {
    font-family: "Lucida Console", "Courier New", monospace;
}

#lookup-result-container {
    display: none;
    background: #FEFBF3;
    border: 1px solid;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 10px;
    padding: 9px;
    max-width: 900px;
    overflow: auto;
}